.contact {
  width: 100%;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  font-size: 1.4rem;
}

.contact form {
  display: grid;
  gap: 1em;
  padding-top: 2rem;
  width: 100%;
}

.username,
.email,
.msg {
  display: grid;
  gap: 0.5em;
}

label {
  font-weight: 500;
  font-size: 0.8rem;
}

input,
textarea {
  padding: 0.1rem 0.5rem;
  font-weight: 500;
  background: transparent;
  border: 0.7px solid var(--dark);
  color: var(--dark);
  border-radius: 0.2rem;
}

input:valid {
  outline-color: green;
}
input:invalid {
  outline-color: red;
}

textarea:valid {
  outline-color: green;
}
textarea:invalid {
  outline-color: red;
}

textarea {
  font-family: monospace;
  font-size: 1rem;
}

.contact button {
  background-color: #646cff;
  color: #fff;
  font-weight: 600;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  display: grid;
  place-content: center;
}
.contact button:is(:hover, :focus) {
  background-color: #535bf2;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  from {
    rotate: 0turn;
  }
  to {
    rotate: 1turn;
  }
}

.success {
  background-color: #fff;
  color: #646cff;
}

@media (min-width: 900px) {
  .contact {
    margin: 0 auto;
    padding: 4rem 0;
  }

  .contact form {
    padding-top: 0;
    max-width: 400px;
  }

  .contact button {
    margin: 0 auto;
    font-size: 0.875rem;
  }
}
