footer {
  background-color: #04293a;
  color: #f5f5f5;
  padding: 0.8rem;
  font-weight: 500;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

footer p {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.1rem;
}

footer img {
  width: 30px;
}

@media (min-width: 900px) {
  footer {
    justify-content: space-around;
    gap: 0;
  }
}
