header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--white);
}

header .logo {
  width: 30px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.7rem;
  text-decoration: none;
  color: #646cff;
}

header img {
  background-color: #535bf2;
  border-radius: 50%;
}

.social_menu {
  display: none;
  align-items: center;
  gap: 1em;
  list-style: none;
}
.social_menu li a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.275rem;
  transition: all 0.3s ease-in-out;
}
.social_menu li a:hover {
  background-color: #535bf2;
  color: #fff;
}
.social_menu li a.active {
  background-color: #535bf2;
  color: #fff;
}

.mode_icons {
  display: flex;
  align-items: center;
  gap: 1em;
}
.mode_icons svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#light-theme {
  width: 25px;
}
#dark-theme {
  display: none;
  width: 25px;
}

select {
  background-color: transparent;
  color: var(--dark);
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
select:hover {
  color: #535bf2;
}

select:focus {
  outline: none;
}

option {
  font-size: 0.825rem;
  font-weight: 500;
  border: none;
  padding: 0.1rem 3rem;
  transition: all 0.3s;
  color: #242224;
}

.menu {
  position: absolute;
  width: 50%;
  right: -50%;
  top: 0;
  min-height: 100dvh;
  background: rgb(0, 0, 0/0.5);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  list-style: none;
}
.menu ul {
  list-style: none;
  display: grid;
  gap: 2em;
  text-align: center;
  padding-right: 1.5rem;
}
.menu ul li a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
}
.menu ul li a:hover {
  text-decoration: underline;
}
#clear-icon {
  width: 25px;
  position: absolute;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  color: var(--dark);
}

@media (min-width: 900px) {
  header {
    justify-content: space-around;
    padding: 1.2rem 0;
  }
  header .logo {
    font-size: 0.8rem;
    width: 35px;
  }
  #menu-icon {
    display: none;
  }

  .social_menu {
    display: flex;
  }

  .social_menu li a {
    font-size: 0.975rem;
  }
}
