.hero {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1.5em;
  overflow: hidden;
  padding: 4rem 0;
}

.hero h1 {
  text-align: center;
  padding: 1rem 2rem;
}

.hero img {
  border-top-left-radius: 12rem;
  border-bottom-left-radius: 12rem;
  margin-left: auto;
  padding-right: 0;
}

@media (min-width: 900px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 2rem;
    min-height: 100dvh;
  }

  .hero img {
    border-top-left-radius: 15rem;
    border-bottom-left-radius: 15rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
}
